{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <div id="left">
        <div id='chart_div'></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@LcdpCommonBundle/Resources/public/css/orgchart.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@LcdpCommonBundle/Resources/public/js/organigramme/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type='text/javascript'>
        $(function(){
            drawChart();
        });

        function drawChart() {
            google.load('visualization', '1', {packages:['orgchart']});
            google.setOnLoadCallback(drawChart);
            
            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Name');
                data.addColumn('string', 'Manager');
              
                // On affiche le Level 0 de l'organigramme
                {% for id0, person0 in organigram %}
                    {% include 'LcdpFrontBundle:Club:organigram_child.html.twig' with {'person' : person0, 'id' : id0, 'parent' : '', 'key' : 0 }%}
                {% endfor %}
                            
                var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
                chart.draw(data, {allowHtml:true});
            }
        }
    </script>
{% endblock %}