{% extends "LcdpAdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li><a href="{{ path('lcdp_admin_homepage') }}">Accueil</a></li>
    <li class="active">Utilisateurs</li>
{% endblock %}
    
{% block content %}
    USERs
{% endblock %}
    