{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <div id="left">
        CONTACT
        <br />
        <br />
        <br />
        {{ form_rest(form)}}
    </div>
{% endblock %}
    