{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <h2>Tous les albums</h2>
    <div class="row margin-bottom-lg news">
        {% for child in albums %}
            <div class="col-xs-3 text-center">
                <a class="btn-lg btn-gray btn" href="{{ path('front_albums', {'year': child}) }}">{{ child }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
