#sidebar #logo img{
    width: 220px;
    margin-left: 10px;
    margin-top: 10px;
    height: 111px;
    margin-bottom: 10px;
}
#sidebar #logo {
    border-bottom: 1px solid #C9C9C9;
}
.right{
    float: right;
}
.clear{
    clear:both;
}
.table > thead > tr > td.gray, .table > tbody > tr > td.gray, .table > tfoot > tr > td.gray, .table > thead > tr > th.gray, .table > tbody > tr > th.gray, .table > tfoot > tr > th.gray, .table > thead > tr.gray > td, .table > tbody > tr.gray > td, .table > tfoot > tr.gray > td, .table > thead > tr.gray > th, .table > tbody > tr.gray > th, .table > tfoot > tr.gray > th {
    background-color: #CCC;
}