<div id="menu" class="bulle rose">
    <h2>LCDP DANSE</h2>
    <ul>
        <li>Actu 1</li>
        <li>Actu 2</li>
        <li>Actu 3</li>
        <li>Actu 4</li>
        <li>Actu 5</li>
    </ul>
</div>

<div id="pub" class="bulle rouge">
    <h2>PUB</h2>
    <p class="description">image ou texte</p>
</div>

