<div id="unitag" class="bulle bleu col-xs-3">
    TAG
</div>

<div id="contact" class="bulle bleu col-xs-9">
    <div class="col-xs-6">
        <h2>Coordonnées</h2>
        <ul>
            <li>
                <p>Le club des pâquerettes</p>
                <span>100 rue du 11 novembre</span>
            </li>
            <li>
                <p>Contact</p>
                <span>NOM  PRENOM ...</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        IMAGES
        <br >
        Facebook
    </div>
</div>
