<div class="row">
    <div class="menu-top col-xs-12">
        <a href="/" class="rose">
            <img src="{{ asset('bundles/lcdpfront/img/Picto_DANSE_BLANC_xs.png') }}"/>
            LCDP DANSE
        </a>
    </div>
</div>

<div id="menu" class="bulle rose">
    <div><a href="/">Actualités</a></div>
    {% for page in pages %}
        <div>
            <a href="{{ path('front_page', {'slug': page.slug}) }}">{{ page.title }}</a>
        </div>
    {% endfor %}
</div>

<div id="pub" class="bulle rouge">
    <h2 class="text-center">PUBLICITE</h2>
    <p class="text-center description"><img src="http://fakeimg.pl/250x200/?text=image 250x200"/></p>
</div>

