<div id="menu" class="bulle rose">
    <h2>LCDP DANSE</h2>
    <ul>
        <li><a href="/">Actualités</a></li>
        {% for page in pages %}
            <li><a href="{{ path('front_page', {'slug': page.slug}) }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="pub" class="bulle rouge">
    <h2>PUB</h2>
    <p class="description">image ou texte</p>
</div>

