<div class="row">
    <a href="http://foot.lcdp.fr" class="bleu">
        <img src="{{ asset('bundles/lcdpfront/img/Picto_FOOT_BLANC_xs.png') }}"/>
        <span>LCDP FOOT</span>
    </a>

    <a href="http://asso.lcdp.fr" class="violet">
        <img src="{{ asset('bundles/lcdpfront/img/Picto_LISTE_BLANC_xs.png') }}"/>
        <span>LCDP ASSOCIATION</span>
    </a>

    <a href="#" class="gris">
        <img src="#"/>
        <span>Imprimer</span> -
        <span>Nous contacter</span>
    </a>
</div>