<a href="#" class="bleu">
    <img src="#"/>
    <span>LCDP FOOT</span>
</a>

<a href="#" class="violet">
    <img src="#"/>
    <span>LCDP ASSOCIATION</span>
</a>

<a href="#" class="gris">
    <ul>
        <li>
            <img src="#"/>
            <span>Imprimer</span>
        </li>
        <li>
            <span>Nous contacter</span>
        </li>
    </ul>
</a>
