<div class="row col-xs-no-margin">
    <div id="contact" class="bulle bleu" style="display: inline-block">
        <div class="col-xs-12">
            <div class="row">
                <h2>
                    <img src="{{ asset('bundles/lcdpfront/img/Picto_ENVELOPPE_BLANC_xs.png') }}"/>
                    Coordonnées
                </h2>
                <ul>
                    <li class="vcard">
                        <p class="org">Le club des pâquerettes</p>
                        <div class="row">
                            <div class="hidden-xs col-sm-3">
                                <img src='{{ asset('bundles/lcdpfront/img/QrCodes/fabrice.png') }}'
                                     alt='QR Code Fabrice BIENVENU' width="150" class=" hidden-xs"
                                />
                            </div>

                            <div class="col-xs-6 col-sm-4">
                                <div class="adr">
                                    <span class="street-address">100 rue du 11 novembre</span><br>
                                    <span class="postal-code">93330</span>&nbsp;
                                    <span class="locality">Neuilly-Sur-Marne</span><br><br>
                                </div>
                                <span class="fn">Bienvenu Fabrice</span><br>
                                <span class="tel">+33 6 64 40 31 53</span>
                                <span class="email">leclubdespaquerettes@gmail.com</span>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <a target="_blank"
                                   href="https://www.google.fr/maps/place/100+Rue+du+11+Novembre,+93330+Neuilly-sur-Marne/@48.8667593,2.5215414,15z/data=!4m5!3m4!1s0x47e6126cca9385cf:0x348a6c74adb676ea!8m2!3d48.8661928!4d2.525429">
                                    <img src="{{ asset('bundles/lcdpfront/img/maps.png') }}"/>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>