<div id="agenda" class="bulle rose">
    <h2 class="text-center">A vos agendas !</h2>
    <ul>
        {% for item in news %}
            <li>
                <a href="{{ path('front_event', {"slug": item.slug}) }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="" class="btn btn-blue btn-xs">En savoir plus</a>
</div>

<div id="benevol" class="bulle violet">
    <h2 class="text-center">Tous BÉNÉVOLES !</h2>
    <div class="row">
        <img class="col-xs-6" src="{{ asset('bundles/lcdpfront/img/Picto_DISCUTION_VIOLET_xs.png') }}"/>
        <ul class="col-xs-6">
            <li>Rejoignez nous !</li>
        </ul>
    </div>
</div>

<div id="autre" class="bulle bleu">
    <h2 class="text-center">Prochaine rencontre</h2>
    <ul>
        <li>.....</li>
    </ul>
</div>

<div id="gallerie" class="bulle orange">
    <h2 class="text-center">LCDP en images</h2>
    <ul>
        <li>Reportage photos</li>
        <li>Reportage vidéos</li>
    </ul>
</div>
