<div class="row">
    <div id="unitag" class="bulle bleu col-xs-3">
        <a href='http://www.unitag.io/qrcode'><img src='http://www.unitag.io/qreator/generate?crs=xnjFkEn%252FP85fCPDXJ%252FXXKhEQqj5eYw4o5X81LfAdSDDVQFrDjdIpoKIOTPuYjiZSdYgeNa2h7KFQb%252FZWlbV7BgAq6p3UL23TVIz7%252F2uA6ZsVUiRGIISrpiyL9QF5EiRtO0CElkt%252FLKRXbyQ7OBMpS54rLVS99P8NIhS%252FcNaIBJaBMbSSTM4LRvjWRJrsjbgv7mRQUqlotpO3wBPo3A8IkFBTB5zU0aOIUNoNyoexEGk%253D&crd=V8lFQadhYzuoJrXW8d%252Fx7l5nXnCWBm%252BxDRTnlX6bXrD40mqw6LTZAPWPTr2C5CupMIWqvqRGJMr9uCns0r6PBUQzNo0%252FaN70iVnuN%252BuXVB4%252F29u8npkXPMuoMP129hJlS%252FNFhwnxOrlveFzjjnYiUcsccyr8XP7mUFECgCg73fkNb0VLhuBPZ9mC6slJ5UZzs3fsdDsK0E4cuTCHPuapr7cPeG2QFx8pn6ieT3%252B%252B4q7CRyIIFkOO%252F86XcLUsvT06l0qQBq6lOFk5xpojNqM4JOcLHT0i86WWmMHYLzhmDeJpsI4UGX%252BgAkQNw6WtOHbyoypqtJrVkqgnleltLrWUbdnuIdtcJs5aN%252F6YkoGajB7aktUn32uD8HC%252Bp53DxM%252BCylhhwNwH3JKNxYqt5mJ91SgGItuZQnb%252BHd4AYwRk7WzvJTXX9yA%252B1D4XhImDN9ZNDYKw%252BK%252B3Ge2I%252BwVFWaGfuhaQbukoSCrsGSYsaLdZI2V7gGZvF1%252BBfP%252Frvev3iMZ8dyh48gS3Ogn1o7ieVBrMAQ%253D%253D' alt='QR Code'/></a>
    </div>

    <div id="contact" class="bulle bleu col-xs-9">
        <div class="col-xs-6">
            <h2>
                <img src="{{ asset('bundles/lcdpfront/img/Picto_ENVELOPPE_BLANC_xs.png') }}"/>
                Coordonnées
            </h2>
            <ul>
                <li>
                    <p>Le club des pâquerettes</p>
                    <span>100 rue du 11 novembre</span><br>
                    <span>93330 Neuilly-Sur-Marne</span>
                </li>
                <li>
                    <p>Contact</p>
                    <span>Bienvenu Fabrice</span><br>
                    <span>07 xx xx xx xx xx</span>
                    <span>leclubdespaquerettes@gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <a href="https://www.google.fr/maps/place/100+Rue+du+11+Novembre,+93330+Neuilly-sur-Marne/@48.8667593,2.5215414,15z/data=!4m5!3m4!1s0x47e6126cca9385cf:0x348a6c74adb676ea!8m2!3d48.8661928!4d2.525429">
                <img src="{{ asset('bundles/lcdpfront/img/maps.png') }}"/>
            </a>
            <br>
            <img class="margin-top" src="{{ asset('bundles/lcdpfront/img/Picto_Like+FACEBOOK.png') }}"/>
        </div>
    </div>
</div>