{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <div id="left">
        <div id="content" role="main">
            <div class="div-content">
                <h2>{{ page.title }}</h2>
            </div>
            <div class="clear"></div>
            <div id="blog-wrapper" class="div-content clearfix">
                <div class="static-intro">
                    {{ page.intro|raw}}
                </div>

                <div class="static-content">
                    {{ page.content|raw}}
                </div>
            </div>
        </div>
        <div id="sidebar-container"></div>
        <div class="clear"></div>
    </div>
{% endblock %}