{% extends "::base.html.twig" %}

{% block body %}
    {# Fomulaire de "Mot de passe perdu" #}
    <div class="col-md-12 bg-white">
        <p>Merci de préciser l'email associé à votre compte. Un email vous sera envoyé comportant un lien vous permettant de réinitialiser votre mot de passe.</p>
        <div class="row">
            <div class="col-lg-12">
                <form action="{{ path('auth_lostpassword') }}" role="form" class="m-t" method="POST">
                    <div class="form-group">
                        {{ form_errors(form) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        {{ form_rest(form) }}
                    </div>
                    <button class="btn btn-primary block full-width m-b" type="submit">Envoyer un nouveau mot de passe</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

