{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ news.title }}</h2>

            {{ news.content }}
        </div>
    </div>
{% endblock %}
    