body{
    background-image: url('../img/body.png');
}
#header, #main {
    margin: 20px auto 15px;
    max-width: 1400px;
    min-height: 250px;
    position: relative;
}
.bulle {
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: #fff;
}
.bulle h2{
    border-radius: 10px;
}
.bulle.violet h2{
    color: #fff;
    background-color: #5d3ab5;
}
.bulle.orange h2{
    color: #fff;
    background-color: #E94216;
}
.bulle.rouge h2{
    color: #fff;
    background-color: red;
}
.bulle.rose h2{
    color: #fff;
    background-color: #BB7EA6;
}
.bulle.bleu h2{
    color: #fff;
    background-color: #1c5b86;
}

.menu-top a {
    float: left;
    height: 40px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 5px 40px;
}

.menu-top .bleu {
    color: #fff;
    background-color: #1c5b86;
}
.menu-top .violet {
    color: #fff;
    background-color: #5d3ab5;
}
.menu-top .gris {
    color: #fff;
    background-color: gray;
}
