{% block subject %}Le club des paquerêttes - Mot de passe perdu{% endblock %}

{% block body_text %}{% set url = url('auth_lostpassword_reinit', {'token': user.lostPasswordToken}) %}Bonjour,\n\nVous avez fait une demande de réinitialisation de votre mot de passe.\n\nVeuillez suivre ce lien {{ url }} pour mettre à jour votre mot de passe.\nCe lien ne peut être utilisé qu’une seule fois, il sera automatiquement désactivé lorsque vous l’aurez suivi.\n\nCordialement,\nL’équipe du club des paquerêttes.{% endblock %}

{% block body_html %}{% set url = url('auth_lostpassword_reinit', {'token': user.lostPasswordToken}) %}Bonjour,<br><br>Vous avez fait une demande de réinitialisation de votre mot de passe.<br><br>Veuillez suivre ce lien <a href={{ url }}>{{ url }}</a> pour mettre à jour votre mot de passe.<br>Ce lien ne peut être utilisé qu’une seule fois, il sera automatiquement désactivé lorsque vous l’aurez suivi.<br><br>Cordialement,<br>L’équipe Universal.{% endblock %}
